body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:midnightblue;
    background-color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*BOOT STRAP OVERRIDES*/
.navbar-inverse {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-brand {
  
    font-weight: bold;
}


.navbar-inverse .navbar-brand {
    color: white;
}

.btn-primary {
    
    background-color: dodgerblue;
    border-color: dodgerblue;
}
/*FOR VALIDATION*/

.field-validation-error {

    color:red;

}

.input-validation-error{

    border:2px solid red;
}

/*PAGE LEVEL STYLES*/
.money {
   
    font-weight:bold;
   color:forestgreen;
}

.Month {
    background-color:red;
    width:60px;
    border-radius:4px;
    text-align:center;
    padding-right:5px;
    font-weight:bold;
    color:white;
}

.day {
     background-color:#f7f7f7;
    width:60px;
    text-align:center;
    padding-right:5px;
    font-weight:bold;
    color:black;
    padding-top:5px;
    padding-bottom:10px;
    border-radius:3px;
}


.MM {
    background-color:red;
    width:60px;
    border-radius:4px;
    text-align:center;
    padding-right:5px;
    font-weight:bold;
    color:white;
}

.dd {
     background-color:#f7f7f7;
    width:60px;
    text-align:center;
    padding-right:5px;
    font-weight:bold;                                                                                                                                                                                                                                                                             
    color:black;
    padding-top:5px;
    padding-bottom:10px;
    border-radius:3px;
}

.Details {

    background-color : cornflowerblue;
    color:white;
    font-weight:bold;
    width:200px;
    border-radius:10px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

